f = open('files/first file.txt','r')
'''print (F.read))'''
'''print(f.readline())'''
for line in f:
    print(line)
''' if line.startswitch('s'):'''
'''print(line)'''
f.close()

In [8]:
f = open('files/first file.txt','r')
print(f.read(2))
f.close()

sa

In [30]:
f = open('files/first file.txt','r')
for line in f: 
    if line. strip() == 'kaecy':
        print(line)
    for alpha in line:
        if alpha == 'k':
            print('print that is ok')
f.close()

kaecy
print that is ok

In [ ]:
f = open('files/first file.txt','r')

In [36]:
print ("that's it")

that's it

In [1]:
try:
    f =open('files/second file.txt','r')
    print(f.read())
    f.close()
except:
    print('Errorkkkkkkkkk')
    f = open('files/second file.txt','w')
    f.write('e don b')
    f.close()

Errorkkkkkkkkk

In [7]:
f =open('files/second file.txt','r')
for line in f:
    if line.strip() == 'i am a boy'
        print('ok')
f.close()

SyntaxError: invalid syntax (<ipython-input-7-0633397cb5fb>, line 3)

### list

In [1]:
a = 8 
print(a)

8

### Average score of the short lists

In [2]:
sum = 10 + 11 + 23 + 12
avg = sum/4 

print(avg)

14.0

### list

In [3]:
# creat a list
# cars = list (('volvo', 'subharu', 'skyline', 'ford'))
cars = ['volvo', 'sabhura', 'skyline', 'ford']
print(cars) # ['volvo', 'sabharu', 'skyline', 'ford']

['volvo', 'sabhura', 'skyline', 'ford']

### list are ordered, changeable and allow duplcate 

### list items - data types

In [5]:
# creat a list
# list1 = (('apple', 'banana', 'cherry'))
list1 = ['apple', 'banana', 'cherry']
list2 = [1, 5, 7, 9, 3]
list3 = [true, false, false]

print(list1)# ['apple', 'banana', 'cherry']

NameError: name 'true' is not defined

### Access, Change, Add and Remove list items

In [5]:
# Access 
print(cars[0]) # volvo
# slicing list 
print(cars[0:1])

volvo
['volvo']

In [7]:
# change items 
cars = ['volvo', 'sabhura', 'skyline', 'ford']
print(cars)
cars[1]= 'suzuki'
print(cars)

['volvo', 'sabhura', 'skyline', 'ford']
['volvo', 'suzuki', 'skyline', 'ford']

In [8]:
# add item 
cars.append('Audi')
cars.insert(0, 'sky')
print(cars)

['sky', 'volvo', 'suzuki', 'skyline', 'ford', 'Audi']

In [19]:
# Remove items 
del cars[0]
cars.remove('subara') # remove from the list

IndexError: list assignment index out of range

### Looping through list

In [28]:
# for car in cars:
#     print(car)

for i in range (len(cars)):
    print(i)
    print(cars[i])

### Dictionaries

### List methods

### len(s)

In [2]:
def get_len(l):
    # python list function len() computes the size of the list
    return len(l)
if _name_ == 'kaecy': 
    l1 = []                   # defined an empty list
    l2 = [5,43,6,1]           # define a list of 4 elements
    l3 = [[4,3,],[0,1],[3]]   # define a list of 3 elements 
    
    print("L1 len: ", get_len(l1))
    print("L2 len: ", get_len(l2))
    print("L3 len: ", get_len(l3))

NameError: name '_name_' is not defined

### sort

In [7]:
prices = [238.11, 237.81, 238.91]
prices.sort()
print(prices)

[237.81, 238.11, 238.91]

### Append

In [8]:
months = ['Jenuary', 'February', 'March']
months.append('April')
print(months)

['Jenuary', 'February', 'March', 'April']

### Extend

In [9]:
x = [1, 2, 3]
x.extend([4, 5])
x

[1, 2, 3, 4, 5]

### Index

In [1]:
months = ['Jenuary', 'february', 'march']
prices = [234.11, 253.22, 264.65]
months.index ('february')

1

### Clear

In [13]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
print("before calling clear(): ", cities)
cities.clear()
print("after calling clear(): ", cities)

before calling clear():  ['Mumbai', 'London', 'Paris', 'New York']
after calling clear():  []

### Copy

In [2]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
favCities = cities.copy()
print("original list: ", cities)
print("copied list: ", favCities)

original list:  ['Mumbai', 'London', 'Paris', 'New York']
copied list:  ['Mumbai', 'London', 'Paris', 'New York']

### Counts

In [2]:
city = 'Mumbai'
cities = ['Mumbai', 'London', 'Paris', 'New York', 'Mumbai']
num = cities.count(city)
print("the number of time Mumbai occurs is: ", num)

the number of time Mumbai occurs is:  2

### Insert

In [4]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
cities.insert(0, 'New Delhi') # insert at 0 index (first)
print(cities)

cities.insert(2, 'Chicago') # insert at 2nd index 
print(cities)

['New Delhi', 'Mumbai', 'London', 'Paris', 'New York']
['New Delhi', 'Mumbai', 'Chicago', 'London', 'Paris', 'New York']

In [7]:
# Inserting sets and tuples
mycities = {'DELHI', 'Chennai'}
favcities = ('Hyderabad', 'bangalore')
worldcities = ['Mumbai', 'London', 'New York']
worldcities.insert(1, mycities)
worldcities.insert(3, favcities)

### Reverse

In [11]:
cities = ['Mumbai', 'London', 'Paris', 'New York']
print("ORIGINAL LIST: ", cities)
cities.reverse()
print("REVERSED LIST: ", cities)

ORIGINAL LIST:  ['Mumbai', 'London', 'Paris', 'New York']
REVERSED LIST:  ['New York', 'Paris', 'London', 'Mumbai']

In [15]:
nums = [1, 2, 3, 4, 5, 6]
print("ORIGINAL LIST: ", nums)

nums.reverse()
print("REVERSED LIST: ", nums)

ORIGINAL LIST:  [1, 2, 3, 4, 5, 6]
REVERSED LIST:  [6, 5, 4, 3, 2, 1]

### DICTIONARIES

In [ ]:
1. Dictionaries are used to store data values in key value pairs 
2. A dictionry is a collection which is ordered, changeable and do not allow duplicate

In [12]:
# Create dictionary
stock 1={ 
    'type': 'volvo',
    'color': 'Black'
}

SyntaxError: invalid syntax (<ipython-input-12-34f09b728136>, line 2)

### Access, Change, Add and Remove dictionary items

In [4]:
# change 
stock_1['color']='red'
print(stock_1)

NameError: name 'stock_1' is not defined

In [ ]:
# Add
stock_1['year']=2022

### Looping through dictionary

In [6]:
for key, value in stock_1.item():   # method 'item()' returns a list of key value
    print(key, ":", value)

NameError: name 'stock_1' is not defined

### Nested Dictionary

In [21]:
class_1 ={'student A': {
              'name' :'Chukudi',
              'age': 23 
          },
          'student B':{
              'name':'Gabriel',
              'age' : 75
          }, 
          'student C': { 
              'digit': [23,45,23,23,32,{'name':'fatibumbum'}],
              'age': 75
          }
         }

In [23]:
print(class_1['student A']['name'])

Chukudi

In [4]:
print(class_1['student C']['digit']['name'])

NameError: name 'class_1' is not defined

### 1. Create a function that accept only dictionary as subject
### 2. NB: Your dict should also have list as a value
### 3. Update the first content of the dict and the last print of the list
### 4. Return your final result (the new modified dict)

In [12]:
stacks_1={
    'car':'ford',
    'brand': 'lincoln',
    'model': [20022,2023,2024,2025,2026,2027,2028,2029,2030],
    'building':'factory',
}

In [14]:
stacks_1['car']='bentley'
stacks_1['model'].append('2040')

In [15]:
stacks_1

{'car': 'bentley',
 'brand': 'lincoln',
 'model': [20022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, '2040'],
 'building': 'factory'}

### Tuples

In [4]:
List1 = ('apple', 'banana', 'cherry')
list2 = (1, 3, 4, 6, 7)

In [5]:
max(list2)

7

In [6]:
min(list2)

1

In [7]:
list2[2:4]

(4, 6)

### SOCKET

In [ ]:
1 import socket 
2 n=mysock.connect(('www.py4inf.com',80))
3

In [ ]:
1 server = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
2 req = "GET / HTTP/1.0"

In [12]:
from bs4 import BeautifulSoup as bs
import urllib

In [ ]:
webpage = 'https://' + input(str('enter the webpage'))
tag = input(str('enter the tag: '))
url = webpage
page = urllib.request.urlopen(url)
soup = bs(page, 'html.parser')
search = soup.find_all(tag)
for item in search:
    print (item.get_text())

In [35]:
  
def create_note():
    title = input("Enter the title of the note: ")
    content = input("Enter the content of the note: ")
    with open(f"{title}.txt", "w") as f:
        f.write(content)
    print(f"Note:'{title}'has been created!")
    
def view_Note():
    title = input ("Enter the title of the note: ")
    try:
        with open(f"{title}.txt", "r") as f:
            print(f.read())    
        except filenotfounderror:
        print(f"note'{title}'not found')
def list_notes():
              notes = [f for f in os.listdir() if f.endswith(".txt")]
              if notes:
              print("list of notes:")
              for note in notes:
                 print(note)
              else:
              print("no notes found.")
              
def delete_note():
              title = input("enter the title of the note: ")
              try:
              os.remove(f"{title}.txt")
              print(f"note'{title}' has been deleted)
              
                    
def menu():
                    while true:
                    print("note-taking app")
                    print("1. create a note")
                    print("2. view a note")
                    print("3. list all note")
                    print("4. delete a note")
                    print("5. exit")
                    choice = int(input("enter your choice"))
                    if choice == 1
                       create_note()
                    elif choice == 2:
                       view_note()

SyntaxError: invalid syntax (<ipython-input-35-7f34bc3789b0>, line 13)

In [26]:
import pandas as pd
import tkinter as tk
from tkinter import messagebox


root = tk.Tk()
root.title("Note App")


root.geometry("600x400")

titleLabel = tk.Label(root, text="Make a new note!", font=("Helvetica", 20))
titleLabel.pack(pady=20)

noteLabel = tk.Label(root, text="Note:", font=("Helvetica", 18))
noteLabel.pack(pady=10)

noteEntry = tk.Entry(root, width=50, font=("Helvetica", 14))
noteEntry.pack(pady=10)

def store_note():
    noteStr = noteEntry.get()  # Getting the note
    
    noteDF = pd.DataFrame([noteStr], columns=["Note"])
    
    noteDF.to_csv("note.csv", index=False)
    
    messagebox.showinfo("Success!", "Note saved successfully.")
    
    noteEntry.delete(0, tk.END)


saveButton = tk.Button(root, text="Save note", command=store_note)
saveButton.pack(pady=20)

root.mainloop()

In [22]:
class NoteApp:
    #Define an empty list that will store the notes
    notes = []
    
    #Define a method to add notes
    def add_note(self, note):
        self.notes.append(note)
    
    #Define a method to view all notes
    def view_all_notes(self):
        for note in notes:
            print(note)

QUESTION
WRITE A NOTE APP

In [2]:
# Note App in Python

# Importing libraries
import pandas as pd
import tkinter as tk
from tkinter import messagebox

# Creating the main window
root = tk.Tk()
root.title("Note App")

# Setting window size
root.geometry("600x400")

# Creating labels
titleLabel = tk.Label(root, text="Make a new note!", font=("Helvetica", 20))
titleLabel.pack(pady=20)

noteLabel = tk.Label(root, text="Note:", font=("Helvetica", 18))
noteLabel.pack(pady=10)

# Creating text box for input
noteEntry = tk.Entry(root, width=200, font=("Helvetica", 14))
noteEntry.pack(pady=10)

# Creating a function to store the note
def store_note():
    noteStr = noteEntry.get()  # Getting the note
    # Creating a dataframe
    noteDF = pd.DataFrame([noteStr], columns=["Note"])
    # Exporting the dataframe to a csv file
    noteDF.to_csv("note.csv", index=False)
    # Displaying a message for confirmation
    messagebox.showinfo("Success!", "Note saved successfully.")
    # Clearing the entry box
    noteEntry.delete(0, tk.END)

# Creating a button to store the note
saveButton = tk.Button(root, text="Save note", command=store_note)
saveButton.pack(pady=20)

root.mainloop()

Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\Sylvanus Jerome\.conda\envs\tensorflow\lib\tkinter\__init__.py", line 1892, in __call__
    return self.func(*args)
  File "<ipython-input-2-c17c45e6a47d>", line 36, in store_note
    noteEntry.delete(0, tk.END)
  File "C:\Users\Sylvanus Jerome\.conda\envs\tensorflow\lib\tkinter\__init__.py", line 3039, in delete
    self.tk.call(self._w, 'delete', first, last)
_tkinter.TclError: invalid command name ".!entry"